<?xml version="1.0" encoding="UTF-8"?>
<class name="$CLASSNAME" $EXTENDSSUPERCLASSNAME enable="true" strideversion="1">
    <javadoc xml:space="preserve"/>
    <imports>
        <import target="java.util.*" enable="true"/>
        <import target="greenfoot.*" enable="true"/>
    </imports>
    <implements/>
    <fields/>
    <constructors>
        <constructor access="public" enable="true">
            <javadoc xml:space="preserve">Constructor for objects of class $CLASSNAME: a window whose content area is 300x200 cells, with a title bar.</javadoc>
            <params/>
            <throws/>
            <delegate target="super" params="300,200,&quot;$CLASSNAME&quot;" params-java="300, 200, &quot;$CLASSNAME&quot;"/>
            <body/>
        </constructor>
    </constructors>
    <methods>
        <method access="public" type="void" name="act" enable="true">
            <javadoc xml:space="preserve">Act - do whatever the $CLASSNAME wants to do. This method is called whenever the 'Act' or 'Run' button gets pressed in the environment.</javadoc>
            <params/>
            <throws/>
            <body/>
        </method>
    </methods>
</class>
