import greenfoot.*;  // (World, Actor, GreenfootImage, Greenfoot and MouseInfo)

/**
 * Write a description of class $CLASSNAME here.
 * 
 * @author (your name) 
 * @version (a version number or a date)
 */
public class $CLASSNAME $EXTENDSANDSUPERCLASSNAME
{

	/**
	 * Constructor for objects of class $CLASSNAME.
	 * 
	 */
	public $CLASSNAME()
	{	
	    // Create a new world with 600x400 cells with a cell size of 1x1 pixels.
	    //
	    // SuperGreenfoot tip: for crisp full-screen play, pick a size that fits
	    // the screen by a whole number:
	    //   640x360, 960x540 or 1920x1080 for 16:9 screens (Windows laptops, TVs)
	    //   720x450 or 1440x900 for 16:10 screens (MacBooks)
	    //   640x400 or 1280x800 for older 16:10 laptops and Chromebooks
	    // and then choose "Pixel-perfect" in full screen.
        super(600, 400, 1); 
	}
}
